@import 'vars';
@import 'effects';
@import 'menu__display';

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Luna', sans-serif;
    background: #FFFFFF;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.center2 {
    padding-left: calc(50% - $widthProductSite / 2);
    padding-right: calc(50% - $widthProductSite/ 2);
}

.top {
    overflow: hidden;
}

.top__header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 231px;
    padding-right: 240px;
    padding-top: 18px;
    padding-bottom: 19px;
    background: #222222;
    position: relative;

    &__block1 {
        display: flex;
        justify-content: flex-start;
        gap: 41px;

        &__img {
            display: flex;
            align-items: center;
        }
    }

    &__block2 {
        display: flex;
        gap: 33px;
        position: relative;
        align-items: center;

        &__img {
            display: flex;
            align-items: center;
        }
    }
}


.top__title {
    padding: 60px 230px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #F8F3F4;

    &__block1 {
        &__link {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
        }
    }

    &__block2 {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
        background: #F8F3F4;

    }
}

.pink {
    color: $colorText;
}

.filter {

    display: flex;
    gap: 320px;
    padding: 52px 230px 64px;
    position: relative;

    &__block1 {
        position: absolute;
        z-index: 1;


        &__title {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #000000;

            &[open] {
                background: #FFFFFF;
                box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                max-width: 360px;
            }

            &[open] .filter__block1__title__text {
                color: $colorText;
            }

            &[open] .filter__block1__title__img {
                fill: $colorText;
            }

            &__content {
                margin: 16px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                min-width: 327px;

                &__menu {
                    &[open] .filter__block1__title__content__menu__head {
                        color: $colorText;
                    }

                    &__head {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #6F6E6E;
                        padding-left: 11px;
                        height: 37px;
                        border-left: 5px solid $colorText;
                        border-bottom: 1px solid #EBEBEB;
                        display: flex;
                        align-items: center;
                        max-width: 327px;

                    }

                    &__link {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #6F6E6E;

                        &:hover {
                            color: $colorText;
                        }
                    }

                    &__block {
                        display: flex;
                        flex-direction: column;
                        gap: 11px;
                        margin-left: 11px;
                        margin-top: 24px;
                        margin-bottom: 24px;

                    }
                }
            }
        }




    }

    &__block2 {
        display: flex;
        gap: 28px;
        position: absolute;
        left: 620px;


        &__title {
            position: relative;

            &__summary {
                display: flex;
                align-items: center;
                gap: 10px;

            }

            &__sort {
                position: absolute;
                z-index: 1;
                left: -9px;
                top: 25px;
                background: #FFFFFF;
                box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                padding: 10px 30px 10px 10px;
                display: grid;
                align-items: center;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;

                font-weight: 400;
                font-size: 14px;
                line-height: 16px;

                color: #6F6E6E;

            }

        }

        &__title__link {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
        }
    }
}

.product__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 48px;


    &__block {
        display: flex;
        flex-direction: column;
        max-width: $widthProductBlock;
        background: #F8F8F8;
        margin-bottom: 30px;
    }
}

.block__items__text {
    display: flex;
    flex-direction: column;
    padding: 25px 18px;

    &__name {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        margin-bottom: 12px;
    }

    &__description {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        margin-bottom: 18px;
    }

    &__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
    }
}

.another {
    background: #222224;
    padding: 103px 230px;
    display: flex;
    gap: $gapGrid;

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $widthProductBlock;

        &__title {
            font-style: normal;
            font-weight: 400;
            font-size: 19.96px;
            line-height: 24px;
            color: #FBFBFB;
        }

        &__text {
            margin-top: 16px;
            max-width: $widthProductBlock;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #FBFBFB;
            text-align: center;
        }
    }

    .truck {
        margin-bottom: 28px;
    }

    .percent {
        margin-bottom: 20px;
    }

    .crown {
        margin-bottom: 25px;
    }

}

.interact {
    background: url(img/interaction/back.svg);
    background-size: cover;
}

.interaction {
    background: rgba(255, 255, 255, 0.4);
    padding-left: 230px;
    padding-right: 230px;
    display: flex;
    gap: 223px;
    justify-content: center;

    &__block {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        max-width: 360px;
        align-items: center;

        &__circle {
            width: 96px;
            height: 96px;
            border: 1px solid black;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: url(img/interaction/woman.png);
            background-size: contain;

            &__text {
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #222224;
            }
        }

        &__reg__mail {
            display: flex;
            max-width: 356px;
            min-height: 49px;

            &__input {
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
                background: #E1E1E1;
                width: 223px;
                text-align: center;
            }

            &__button {
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
                background: #E05C6E;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
                width: 100px;
                justify-content: center;
            }

        }

    }

    &__block__2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 167.2%;
            text-align: center;
            color: #222224;
        }

        &__text {
            font-weight: 400;
            font-size: 18px;
            line-height: 167.2%;
            text-align: center;
            color: #222224;
        }
    }



}

.inter__foto {
    margin-top: 97px;
    margin-bottom: 126px;
}

.inter__subscribe {
    padding-top: 150px;
    padding-bottom: 156px;
    min-width: 557px;
}

.footer {
    display: flex;
    padding: 24px 230px;
    background: #222224;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &__block1__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }

    &__block2 {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
    }
}