@charset "UTF-8";
.top__header__block1__img:hover {
  transform: scale(1.2);
}

.top__header__block1__img {
  transition: 0.3s;
}

.top__header__block2__img:hover {
  transform: scale(1.2);
}

.top__header__block2__img {
  transition: 0.3s;
}

.title__link:hover {
  transform: scale(1.2);
}

.title__link {
  transition: 0.3s;
}

.filter__block2__title__summary:hover path {
  fill: #F16D7F;
}

.filter__block2__title__summary {
  transition: 0.3s;
}

.filter__block2__title:hover .filter__block2__title__link {
  color: #F16D7F;
  transform: scale(1.2);
}

.filter__block2__title__link {
  transition: 0.3s;
}

.product__img:hover {
  transform: scale(1.1);
}

.product__img {
  transition: 0.3s;
}

.product__price:hover {
  transform: scale(1.1);
  margin-left: 15px;
}

.product__price {
  transition: 0.3s;
}

.another__block__img:hover {
  transform: scale(1.2);
}

.another__block__img {
  transition: 0.3s;
}

.interaction__block__reg__mail__input:hover {
  transform: scale(1.1);
  border-color: #F16D7F;
}

.interaction__block__reg__mail__input:focus {
  transform: scale(1.1);
  border-color: #F16D7F;
  border-width: 3px;
}

.interaction__block__reg__mail__input {
  transition: 0.3s;
}

.buttons:hover {
  transform: scale(1.1);
  border-color: #F16D7F;
}

.buttons {
  transition: 0.3s;
}

.footer__block2__label:hover {
  transform: scale(1.2);
}

.footer__block2__label {
  transition: 0.3s;
}

.top__categories__items:hover {
  transform: scale(1.2);
}

.top__categories__items {
  transition: 0.3s;
}

#menu__clothes {
  position: absolute;
  left: -99999999px;
  visibility: hidden;
}
#menu__clothes:checked ~ .menu__clothes__nav {
  right: -240px;
  opacity: 1;
}

.menu__clothes__nav {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 57px;
  right: -472px;
  transition: right 0.3s;
  opacity: 0;
}
.menu__clothes__nav__header {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}
.menu__clothes__nav__point {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 20px;
  margin-bottom: 12px;
}
.menu__clothes__nav__subpoint {
  margin-left: 20px;
  margin-bottom: 11px;
}
.menu__clothes__nav__subpoint__ref {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Luna", sans-serif;
  background: #FFFFFF;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

.center {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.center2 {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top {
  overflow: hidden;
}

.top__header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 231px;
  padding-right: 240px;
  padding-top: 18px;
  padding-bottom: 19px;
  background: #222222;
  position: relative;
}
.top__header__block1 {
  display: flex;
  justify-content: flex-start;
  gap: 41px;
}
.top__header__block1__img {
  display: flex;
  align-items: center;
}
.top__header__block2 {
  display: flex;
  gap: 33px;
  position: relative;
  align-items: center;
}
.top__header__block2__img {
  display: flex;
  align-items: center;
}

.top__title {
  padding: 60px 230px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #F8F3F4;
}
.top__title__block1__link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.top__title__block2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  background: #F8F3F4;
}

.pink {
  color: #F16D7F;
}

.filter {
  display: flex;
  gap: 320px;
  padding: 52px 230px 64px;
  position: relative;
}
.filter__block1 {
  position: absolute;
  z-index: 1;
}
.filter__block1__title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.filter__block1__title[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  max-width: 360px;
}
.filter__block1__title[open] .filter__block1__title__text {
  color: #F16D7F;
}
.filter__block1__title[open] .filter__block1__title__img {
  fill: #F16D7F;
}
.filter__block1__title__content {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 327px;
}
.filter__block1__title__content__menu[open] .filter__block1__title__content__menu__head {
  color: #F16D7F;
}
.filter__block1__title__content__menu__head {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 11px;
  height: 37px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  align-items: center;
  max-width: 327px;
}
.filter__block1__title__content__menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter__block1__title__content__menu__link:hover {
  color: #F16D7F;
}
.filter__block1__title__content__menu__block {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-left: 11px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.filter__block2 {
  display: flex;
  gap: 28px;
  position: absolute;
  left: 620px;
}
.filter__block2__title {
  position: relative;
}
.filter__block2__title__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter__block2__title__sort {
  position: absolute;
  z-index: 1;
  left: -9px;
  top: 25px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 10px 30px 10px 10px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}
.filter__block2__title__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.product__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 48px;
}
.product__items__block {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  background: #F8F8F8;
  margin-bottom: 30px;
}

.block__items__text {
  display: flex;
  flex-direction: column;
  padding: 25px 18px;
}
.block__items__text__name {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
}
.block__items__text__description {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}
.block__items__text__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.another {
  background: #222224;
  padding: 103px 230px;
  display: flex;
  gap: 30px;
}
.another__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
}
.another__block__title {
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}
.another__block__text {
  margin-top: 16px;
  max-width: 360px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
  text-align: center;
}
.another .truck {
  margin-bottom: 28px;
}
.another .percent {
  margin-bottom: 20px;
}
.another .crown {
  margin-bottom: 25px;
}

.interact {
  background: url(img/interaction/back.svg);
  background-size: cover;
}

.interaction {
  background: rgba(255, 255, 255, 0.4);
  padding-left: 230px;
  padding-right: 230px;
  display: flex;
  gap: 223px;
  justify-content: center;
}
.interaction__block {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 360px;
  align-items: center;
}
.interaction__block__circle {
  width: 96px;
  height: 96px;
  border: 1px solid black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(img/interaction/woman.png);
  background-size: contain;
}
.interaction__block__circle__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.interaction__block__reg__mail {
  display: flex;
  max-width: 356px;
  min-height: 49px;
}
.interaction__block__reg__mail__input {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background: #E1E1E1;
  width: 223px;
  text-align: center;
}
.interaction__block__reg__mail__button {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background: #E05C6E;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  width: 100px;
  justify-content: center;
}
.interaction__block__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.interaction__block__2__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.interaction__block__2__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.inter__foto {
  margin-top: 97px;
  margin-bottom: 126px;
}

.inter__subscribe {
  padding-top: 150px;
  padding-bottom: 156px;
  min-width: 557px;
}

.footer {
  display: flex;
  padding: 24px 230px;
  background: #222224;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footer__block1__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__block2 {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}/*# sourceMappingURL=style.css.map */